---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/41.7138,-72.8618
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - adc9d0c
      X-Server-Id:
      - vm-bldr-api-ops-app14.ncep.noaa.gov
      X-Edge-Request-Id:
      - 960e7679
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/41.7138,-72.8618",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -72.8618,
                    41.7138
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/41.7138,-72.8618",
                "@type": "wx:Point",
                "cwa": "BOX",
                "forecastOffice": "https://api.weather.gov/offices/BOX",
                "gridId": "BOX",
                "gridX": 16,
                "gridY": 50,
                "forecast": "https://api.weather.gov/gridpoints/BOX/16,50/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/BOX/16,50/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/BOX/16,50",
                "observationStations": "https://api.weather.gov/gridpoints/BOX/16,50/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -72.940749,
                            41.681578
                        ]
                    },
                    "properties": {
                        "city": "Bristol",
                        "state": "CT",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 7470.1062597082
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 61
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/CTZ002",
                "county": "https://api.weather.gov/zones/county/CTC003",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/CTZ002",
                "timeZone": "America/New_York",
                "radarStation": "KOKX"
            }
        }
  recorded_at: Thu, 30 Oct 2025 23:50:18 GMT
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/BOX/16,50/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      Last-Modified:
      - Thu, 30 Oct 2025 20:03:32 GMT
      X-Correlation-Id:
      - 3201c123
      X-Server-Id:
      - vm-bldr-api-ops-app6.ncep.noaa.gov
      X-Edge-Request-Id:
      - 960e7ab4
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www[...]
