---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address=123%20Fake%20St&benchmark=Public_AR_Current&format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"address":"123 Fake St"},"benchmark":{"isDefault":true,"benchmarkDescription":"Public
        Address Ranges - Current Benchmark","id":"4","benchmarkName":"Public_AR_Current"}},"addressMatches":[]}}'
  recorded_at: Thu, 30 Oct 2025 23:40:59 GMT
recorded_with: VCR 6.3.1
